body {
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-container {
  display: list-item;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: rgb(156, 12, 12);
}
.nav {
  width: 100%;
  height: 60%;
}
.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-basis: 100%;
  margin: 0;
  padding: 20px 0;
}

.menu li {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  border: 1px solid rgb(134, 22, 22);
  text-align: center;
  font-size: 20px;
}

.menu li:hover {
  background-color: rgb(82, 21, 21);
  font-weight: 600;
  cursor: pointer;
}
.menu a {
  text-decoration: none;
  color: black;
}
.head-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
  padding: 5px;
  background-color: rgb(156, 12, 12);
}

.right-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}

.hamburguer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
  height: 100%;
  display: none;
}

#check-menu {
  position: absolute;
  opacity: 0;
}

.label-hamburguer {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

.label-hamburguer span {
  position: absolute;
  display: block;
  height: 3px;
  margin: 5px;
  width: 100%;
  border-radius: 30%;
  background-color: black;
  transition: 0.25s ease-in-out;
}

.label-hamburguer span:nth-child(1) {
  top: 0;
}

.label-hamburguer span:nth-child(2) {
  top: 8px;
}

.label-hamburguer span:nth-child(3) {
  top: 16px;
}

#check-menu:checked + .label-hamburguer span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#check-menu:checked + .label-hamburguer span:nth-child(2) {
  opacity: 0;
}

#check-menu:checked + .label-hamburguer span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 100%;
  height: 8%;
  box-shadow: 5px 5px 10px black;
  background-color: darkgray;
}
.header-title {
  display: flex;
  justify-content: end;
  flex-basis: 40%;
  height: 100%;
  font-size: 15px;
}
.header-title #site-search {
  border-radius: 10%/40%;
  margin: 10px;
  text-align: center;
}
.header-title label {
  align-self: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  border-style: groove;
  width: 45%;
  height: 45%;
  flex-grow: 1;
  margin: 5px 10px 10px 10px;
  background-color: #dcdcdc;
}

.square:hover {
  transform: scale(1.03);
}

@media (max-width: 900px) {
  .square {
    flex-direction: column;
    width: 100%;
  }

  @media (max-width: 800px) {
    .left-container {
      display: none;
      transition: 2s;
    }

    .hamburguer-container {
      display: block;
    }

    .header {
      justify-content: space-between;
    }
  }
}
